@import "../../variables";

.msgMessage{
    text-align: left;
    font-size: 1.1em;
    padding-right: 20px;
    padding-left: 20px;
    word-wrap: break-word;
    margin-top: 25px;
    margin-bottom: 25px;
}
.msgAuthor{
    position: absolute;
    font-size: 0.9em;
    display: inline;
    font-weight: 600;
    padding-left: 20px;
    top: 5px;
    left: -10px;
}
.msgDate{
    position: absolute;
    font-size: 0.8em;
    display: inline;
    padding-right: 20px;
    bottom: 5px;
    right: -10px;
    color: $grey;
    
}



.msgAvatar{
    width: 25px;
    position: absolute;
    right: -5px;
    top: -5px;
    border-radius: $mainBorder;
}
.msgBlock{
    position: relative;
    //float: left;
    border-radius: $mainBorder;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 5px!important;
    padding-bottom: 5px!important;
    min-height: 50px!important;
    //width: 100%;
    cursor: pointer;
}
.msgOthers{
    //text-align: left;
    //float: left;
    background-color: $lightPlus;
    .msgBulle{
        color: $lightPlus;
    }
}
.msgUser{
    //text-align: right;
    //float: right;
    background-color: $msgColor;
    .msgBulle{
        color: $msgColor;
    }
}
.msgBulle{
    position: absolute;
    left: -10px;
    top: -3px;
    font-size: 30pt;
    transform: rotate(0.25turn);
    z-index: -1;
}
/*
.sender{
    position: relative;
}*/
.counterMsg{
    position: absolute;
    right: 15px;
    top: 45px;
    font-size: 0.8em;
    
}

.msgDateInfo{

    display: block;
    background-color: $lightPlus;
    border-radius: $mainBorder;
    //width: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-left: 5px!important;
   
  }

  .msgOverlay{
      background-color: transparent;
      width: 100%;
      height: 100%;
      display: block;
      z-index: 8;
      position: absolute;
  }

  .msgSelected{
    background-color: $selectionColor!important;
  }

  .msgResponse{
      background-color: $msgResponse;
      margin-top: 25px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: $mainBorder;
  }
  .responseAuthor{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
  }
  .responseMessage{
      padding-bottom: 5px;
      text-align: left;
      word-wrap: break-word;
      
  }

  .witnessResponse{
    text-align: left;
    word-wrap: break-word;
    background-color: $lightPlus;

    

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    border-radius: $mainBorder;

    //padding: 10px;
    
    
  }


  .sender{
    //height: 140px;
    position: fixed;
    bottom: -20px;
    //width: 100%;
    left: 0px;
    //padding-left: 50px;
    //padding-right: 40px;
    background-color: $mainColor;
    //background-color: red;
    
  
  }
  .chatPage{
    overflow-y: hidden;
  }