@import "../../variables";
::-webkit-scrollbar { 
  display: none!important; 
}
.galleriePage{
  .gridItem{
    background-color: red!important;
    width: 100%!important;
    height: 100%!important;
  }
  //margin-top: -200px;
  //margin-top: -150px;
  padding-bottom: 20px;

  //height: 100vh;
  //overflow-y: scroll!important;
  

  .gallerie-list{
    //overflow-y: scroll!important;
    
    //overflow-y: visible;
  }

  .titleImg{
    overflow: hidden;
    width: 100px;
    height: 25px;
    //word-wrap: break-word!important;

    margin: 0 auto;
  }
  .card{
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius: $mainBorder;
    padding-top: 15px;
  }

  
  .gallerieImgContainer{
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    //border: 1px solid #000;
    border-radius: $mainBorder;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.30);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.30);
    margin-bottom: 5px;
    //padding-top: 50px!important;

    .gallerieImg{
      cursor: pointer;
      //max-width: 100px;
      min-width: 200px;
      //min-height: 150px;
      //max-height: 100px;
      //overflow: hidden;
      margin: 0 auto;
      //background-color: $lightPlus;
      //padding: 5px;
      //padding-bottom: 30px;
    }
  }

    #grid {
      
        margin-top: -25px;
        display: grid;
        grid-template-columns: 1fr;
      }
      
      @media (min-width: 300px) {
        #grid {
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 10px
        }
      }
      
      @media (min-width: 480px) {
        #grid {
          grid-template-columns: repeat(2, 1fr);
        }
      }
      
      @media (min-width: 645px) {
        #grid {
          grid-template-columns: repeat(3, 1fr);
        }
      }
      
      @media (min-width: 900px) {
        #grid {
          grid-template-columns: repeat(4, 1fr);
        }
      }
      
      @media (min-width: 1350px) {
        #grid {
          grid-template-columns: repeat(5, 1fr);
        }
      }
      
      @media (min-width: 1800px) {
        #grid {
          grid-template-columns: repeat(6, 1fr);
        }
      }
      
      @media (min-width: 3000px) {
        #grid {
          grid-template-columns: repeat(7, 1fr);
        }
      }
      
      @media (min-width: 3500px) {
        #grid {
          grid-template-columns: repeat(8, 1fr);
        }
      }
      
      @media (min-width: 4000px) {
        #grid {
          grid-template-columns: repeat(9, 1fr);
        }
      }
}

