$mainColor: #59b355;
$dark: #141414;
$light: #cacaca;

@import url('https://fonts.googleapis.com/css?family=Cantarell:400,700');

body {
  font-family: 'Cantarell', sans-serif;
  background-color: $light;
  color: $dark;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}

.App{
  text-align: center;
  width: 100%;
}

.App-link {
  color: $mainColor;
}

.footer{
  position: fixed;
  z-index: 10;
  bottom: 0px;
  width: 100%;
  color: $light;
  background-color: $dark;
  padding-top: 5px;
  padding-bottom: 5px;
}

.logo{
  max-width: 60px;
}
.nav-wrapper{
  overflow: hidden;
  color: $light;
  background-color: $dark;
}

.page{
  padding-top: 50px;
  padding-bottom: 50px;
}

/*
.card{
  background-color: transparent;
}
*/