$mainColor: #59b355;
$dark: #141414;
$light: #cacaca;

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: $light;
  color: $dark;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  color: $mainColor;
}

.App{
  text-align: center;
  width: 100%;
}

.App-link {
  color: $mainColor;
}

.footer{
  position: fixed;
  z-index: 10;
  bottom: 0px;
  width: 100%;
  color: $light;
  background-color: $dark;
  padding-top: 5px;
  padding-bottom: 5px;
}

.logo{
  max-width: 60px;
}

.nav-wrapper{
  overflow: hidden;
  color: $light;
  background-color: $dark;
}

.page{
  padding-top: 20px;
  padding-bottom: 50px;
}
.logPage{
  padding-top: 50px;
  padding-bottom: 50px;
}

/*
.card{
  background-color: transparent;
}
*/

.groups-dashboard{
 max-height: 70vh;
 overflow-x: hidden;
 overflow-y: scroll;
}
.welcomeMsg{
  font-size: 1.3em;
  font-weight: 500;
  padding-left: 15px;
}

@media (max-width: 600px) {
  .welcomeMsg{
    display: none;
  }
}

.welcomeMsgInfo{
  font-size: 1em;
  font-weight: 500;
}

.conversation{
  height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.mlText{
  text-align: justify;
}
.textTitle{
  font-weight: 600;
  font-size: 1.5em;
}

.logOutBtn{
  cursor: pointer;
  padding-top: 3px;
  padding-left: 15px;
}